# Python cache
__pycache__/
*.pyc

# Pytest cache
.pytest_cache/

# Runtime artifacts
# Ignore everything inside, except .gitkeep
reports/*
!reports/.gitkeep

screenshots/*
!screenshots/.gitkeep


# IDE/editor junk
.idea/
.vscode/
